.formPage {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../../assets/bkg.svg');
  background-position: bottom;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 1s;
  text-align: center;
  width: 90%;
  max-width: var(--contentWidth);
  margin-top: 50px;
}

.container > h1 {
  font-size: 60px;
  font-weight: lighter;
  margin: 0 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.appealText {
  font-style: italic;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    width: 100%;
  }
  .appealButton:hover {
    text-decoration: underline;
  }

  .formContainer {
    max-width: 800px;
  }
}

@media (prefers-color-scheme: dark) {
  .formPage {
    background-image: url('../../assets/bkg-dark.svg');
  }

  .appealButton {
    color: var(--secondaryColour);
  }
}
