.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.resetPage {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formVisible {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  max-width: calc(var(--contentWidth) / 2);
  padding: 0 2vw;
}

.formInvisible {
  display: none;
}

.formPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2vh 0;
}

/* .logo {
  background-image: url('../../assets/smallLogo.svg');
  width: 200px;
  height: 200px;
}

@media (prefers-color-scheme: dark) {
  .logo {
    background-image: url('../../assets/smallLogo-dark.svg');
  }
} */
