.button,
.disabled {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 15px;
  margin: 15px;
  font-size: 18px;
  border: 2px solid;
  min-width: 175px;
  text-align: center;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;
  transition: 0.2s;
  user-select: none;
}

.button {
  background-color: var(--backgroundColour);
  border-color: var(--primaryColour);
  color: var(--primaryColour);
}

.disabled {
  background-color: var(--backgroundColour);
  border-color: #999999;
  color: #999999;
}

@media only screen and (min-width: 700px) {
  .button:hover {
    background-color: var(--primaryColour);
    color: white;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    border-color: var(--secondaryColour);
    background-color: var(--backgroundColour);
    color: var(--secondaryColour);
  }

  @media only screen and (min-width: 700px) {
    .button:hover {
      background-color: var(--secondaryColour);
      color: var(--backgroundColour);
    }
  }
}
